<HttpHandler />
<LoadingSpinner />
<JWTokenHandler />
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <CascadingValue Name="HttpHandler" Value="HttpHandler.Instance">
            <CascadingValue Name="LoadingSpinner" Value="LoadingSpinner.Instance">
                <CascadingValue Name="JWTokenHandler" Value="JWTokenHandler.Instance">
                    <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
