@page "/quiz_ui"

@inject NavigationManager NavigationManager

<PageTitle>@pageTitle</PageTitle>

@if (!ready)
{
    <h3>Quiz UI</h3>
    <Div>
        Are you ready?
        <Button Class="btn btn-primary" Clicked="Start">Start</Button>
    </Div>
}
else
{
    if (questions.Count > correctlyQuestionAnswering && correctlyQuestion != null)
    {
        <Row>
            <Column>
                <h3>@correctlyQuestion.Title</h3>
            </Column>
            <Column>
                <h2>@currentTime.ToString(currentTime.Hour > 0 ? "HH:mm:ss" : "mm:ss")</h2>
            </Column>
        </Row>

        <Row class="flex-fill d-flex flex-wrap" style="height: 40vh;">
            @foreach (var (cardText, i) in correctlyQuestion.PossibleAnswers.Select((category, index) => (category, index)))
            {
                <Column ColumnSize="ColumnSize.Is6" @onclick="() => SelectAnswer(i)">
                    <Div Class="card flex-fill text-center" Background="@(selectedAnswers[i] ? Background.Success : "")">
                        <Div class="card-body" style="max-height: 175px; overflow-y: auto;">
                            <h5 class="card-title">@cardText</h5>
                        </Div>
                    </Div>
                </Column>
            }
            <Button Class="btn btn-primary" Clicked="AnswerQuestion">Answer</Button>
        </Row>
    }
    else if (questions.Count <= correctlyQuestionAnswering && quiz != null)
    {
        <h3 class="w-100">Summery</h3>
        <Div Class="w-100">
            <h3 class="card-title">@quiz.Title</h3>
        </Div>

        <Column Class="w-100 my-2">
            <Card>
                <CardHeader>
                    <h3 class="card-title">@quiz.Title</h3>
                </CardHeader>
                <CardBody>
                    <Row>
                        <Column>
                            @answeredCorrectly.Count(a => a.AnsweredCorrect) / @questions.Count
                        </Column>
                        <Column>
                            @userGotRightInProcents%
                        </Column>
                        <Column>
                            Points: @pointsGained / @pointsPossible
                        </Column>
                    </Row>
                </CardBody>
            </Card>
        </Column>

        <Div Class="barChart-container my-2">
            <BarChart @ref="barChartProcent" TItem="double" Options="barChartProcentOptions" />
        </Div>

        <Div Class="barChart-container my-2">
            <BarChart @ref="barChartNumber" TItem="int" Options="barChartNumberOptions" />
        </Div>
    }
}

@code {
    [CascadingParameter(Name = "HttpHandler")]
    private HttpHandler? httpHandler { get; set; }

    [CascadingParameter(Name = "JWTokenHandler")]
    private JWTokenHandler? jWTokenHandler { get; set; }

    [CascadingParameter(Name = "LoadingSpinner")]
    private LoadingSpinner? loading { get; set; }

    [CascadingParameter(Name = "SessionStorageHandler")]
    private SessionStorageHandler? sessionStorageHandler { get; set; }

    private const string noCategory = "No category";

    private string pageTitle = "Quiz ui";
    private bool ready = false;
    private int quizID;
    private QuizDTO? quiz;
    private int pointsGained = 0;
    private int pointsPossible = 0;

    private bool[] selectedAnswers = new bool[0];
    private int correctlyQuestionAnswering = -1;
    private QuestionDTO? correctlyQuestion = null;
    private DateTime currentTime = new DateTime();

    private List<QuizInfo> answeredCorrectly = new();
    private List<QuestionDTO> questions = new();

    private User_QuizDTO userQuiz = new();

    private double userGotRightInProcents = 0;
    private readonly string[] ChartBackgroundColors = new string[] { "#ff6384", "#36a2eb", "#cc65fe", "#ffce56" };
    private BarChart<double>? barChartProcent;
    private BarChart<int>? barChartNumber;

    private BarChartOptions barChartProcentOptions = new()
        {
            MaintainAspectRatio = false,
            Responsive = true,
            Plugins = new ChartPlugins
            {
                Legend = new ChartLegend
                {
                    Display = false  // Hides the legend
                }
            }
        };

    private BarChartOptions barChartNumberOptions = new()
        {
            MaintainAspectRatio = false,
            Responsive = true,
        };

    private Timer timer = new(1000)
        {
            AutoReset = true,
        };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            timer.Stop();

            if (httpHandler == null) return;
            if (jWTokenHandler == null) return;
            if (sessionStorageHandler == null) return;

            string jwt = await jWTokenHandler.GetToken();
            loading?.Start();

            // Getting the quiz id from the url, if it's invalid redirect to browse.
            Uri? uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
            if (!QueryHelpers.ParseQuery(uri.Query).TryGetValue("quiz_id", out var dataValue))
            {
                NavigationManager.NavigateTo("/browse");
                return;
            }

            // Invalid quiz id.
            if (!int.TryParse(dataValue[0], out quizID))
            {
                NavigationManager.NavigateTo("/browse");
                return;
            }

            int userID = await sessionStorageHandler.GetItem<int>(SessionStorageHandler.Item.userID);
            (HttpStatusCode statusCodeUserQuiz, User_QuizDTO userQuiz) =
                await httpHandler.GetAsync<User_QuizDTO>(
                    $"/api/User_Quiz/{quizID}/{userID}", jwt, false);

            string userRole = await sessionStorageHandler.GetItem<string>(SessionStorageHandler.Item.userRole);
            if (userRole == "Student" && statusCodeUserQuiz == HttpStatusCode.NotFound)
            {
                // Isn't invited to this quiz or has completed it before.
                NavigationManager.NavigateTo("/browse");
                return;
            }
            else
            {
                this.userQuiz = userQuiz;
            }

            (HttpStatusCode statusCodeQuiz, QuizDTO quizDTO) =
               await httpHandler.GetAsync<QuizDTO>(
                   $"/api/Quizs/{quizID}", jwt);

            if (statusCodeQuiz == HttpStatusCode.OK)
            {
                quiz = quizDTO;
            }

            (HttpStatusCode statusCodeCuestions, List<QuestionDTO> QuestionsDTO) =
                await httpHandler.GetAsync<List<QuestionDTO>>(
                    $"/api/Questions/ByQuizID/{quizID}", jwt);

            if (statusCodeCuestions == HttpStatusCode.OK)
            {
                Random random = new(DateTime.UtcNow.Millisecond);
                questions.AddRange(QuestionsDTO.OrderBy(_ => random.Next(questions.Count + 5)).ToList());
                timer.Elapsed += OnTimedEvent;
            }

            loading?.Stop();
        }
    }

    private void Start()
    {
        ready = true;
        OpenNextQuestion(false);
    }

    private void SelectAnswer(int answerIndex)
    {
        if (correctlyQuestion == null) return;

        selectedAnswers[answerIndex] = !selectedAnswers[answerIndex];
        if (correctlyQuestion.QuestionType != "Multi")
        {
            for (int i = 0; i < selectedAnswers.Length; i++)
            {
                if (i != answerIndex)
                {
                    selectedAnswers[i] = true;
                }
            }
        }
        StateHasChanged();
    }

    private void AnswerQuestion()
    {
        if (correctlyQuestion == null) return;

        bool answeredCorrectly = true;
        for (int i = 0; i < correctlyQuestion.CorrectAnswer.Length; i++)
        {
            if (!selectedAnswers[correctlyQuestion.CorrectAnswer[i] - 1])
            {
                answeredCorrectly = false;
                break;
            }
        }
        Answer(answeredCorrectly);
        OpenNextQuestion(false);
    }

    private void SkipQuestion()
    {
        Answer(false);
        OpenNextQuestion(true);
    }

    private void Answer(bool correct)
    {
        answeredCorrectly.Add(new(correctlyQuestion?.Category ?? noCategory, correct));
    }

    private async void OpenNextQuestion(bool asyncReload)
    {
        timer.Stop();
        correctlyQuestionAnswering++;
        if (questions.Count <= correctlyQuestionAnswering)
        {
            await OpenSummery();
            return;
        }

        correctlyQuestion = questions[correctlyQuestionAnswering];
        pageTitle = correctlyQuestion.Title;
        selectedAnswers = new bool[correctlyQuestion.PossibleAnswers.Length];

        int timeToAddFromSec = int.Parse(correctlyQuestion.Time.ToString());

        int addTimeHours = timeToAddFromSec / 3600;
        int addTimeMin = (timeToAddFromSec - (3600 * addTimeHours)) / 60;
        int addTimeSec = timeToAddFromSec - (3600 * addTimeHours + 60 * addTimeMin);

        currentTime = new(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, addTimeHours, addTimeMin, addTimeSec);

        timer.Start();
        if (asyncReload)
        {
            await InvokeAsync(StateHasChanged);
        }
        else
        {
            StateHasChanged();
        }
    }

    private void OnTimedEvent(object? sender, ElapsedEventArgs e)
    {
        // Update the current time
        currentTime = currentTime.AddSeconds(-1);

        if (currentTime.TimeOfDay.TotalSeconds <= 0)
        {
            SkipQuestion();
        }
        else
        {
            InvokeAsync(StateHasChanged);
        }
    }

    private async Task OpenSummery()
    {
        if (httpHandler == null) return;
        if (jWTokenHandler == null) return;
        if (sessionStorageHandler == null) return;
        if (quiz == null)
        {
            NavigationManager.NavigateTo("/home");
            return;
        }

        StateHasChanged();

        loading?.Start();
        string jwt = await jWTokenHandler.GetToken();
        int userID = await sessionStorageHandler.GetItem<int>(SessionStorageHandler.Item.userID);

        (HttpStatusCode statusCodeDifficulties, List<DifficultyDTO> difficulties) =
                await httpHandler.GetAsync<List<DifficultyDTO>>(
                    $"/api/Difficulties", jwt);

        if (statusCodeDifficulties != HttpStatusCode.OK)
        {
            NavigationManager.NavigateTo("/home");
            return;
        }

        DifficultyDTO? quizDifficulty = difficulties.FirstOrDefault(d => quiz.Difficulty == d.Difficulty);
        if (quizDifficulty == null)
        {
            NavigationManager.NavigateTo("/home");
            return;
        }

        userGotRightInProcents = Math.Round((double)answeredCorrectly.Count(isCorrect =>
            isCorrect.AnsweredCorrect) / questions.Count * 100, 2);

        for (int i = 0; i < questions.Count; i++)
        {
            DifficultyDTO? questionDifficulty = difficulties?
                .FirstOrDefault(d => questions[i].Difficulty == d.Difficulty);

            int questionPoints = 0;
            if (questionDifficulty == null)
            {
                // Gets default
                questionPoints = 100;
            }
            else
            {
                int difference = questionDifficulty.ID - quizDifficulty.ID;
                int difficultyAddition = (1 + difference / 10);
                questionPoints = 100 * difficultyAddition;
            }

            pointsPossible += questionPoints;
            if (answeredCorrectly[i].AnsweredCorrect)
            {
                pointsGained += questionPoints;
            }
        }

        StateHasChanged();

        GetSummeryChartDataAndUpdate();

        string userRole = await sessionStorageHandler.GetItem<string>(SessionStorageHandler.Item.userRole);
        if (userRole == "Teacher" || userRole == "Guest")
        {
            loading?.Stop();
            return;
        }

        User_QuizDTO updateUserQuiz = new()
            {
                Completed = true,
                QuizID = quizID,
                UserID = userID,
                Results = userGotRightInProcents,
                TimeUsed = 0,
            };

        HttpStatusCode statusCodeUserQuiz =
           await httpHandler.PutAsync(
                   $"/api/User_Quiz", updateUserQuiz, jwt);

        if (statusCodeUserQuiz != HttpStatusCode.OK && statusCodeUserQuiz != HttpStatusCode.NoContent)
        {
            throw new Exception();
        }

        loading?.Stop();
    }

    private async void GetSummeryChartDataAndUpdate()
    {
        if (barChartProcent == null) return;
        if (barChartNumber == null) return;

        var categoryPercentages = answeredCorrectly
            .GroupBy(q => q.Category)
            .Select(group => new
            {
                Category = group.Key,
                CorrectPercentage = group.Count(q => q.AnsweredCorrect) * 100.0 / group.Count(),
                Total = group.Count(),
                CorrectAnwsered = group.Count(q => q.AnsweredCorrect)
            })
            .ToList();

        await barChartNumber.AddLabelsDatasetsAndUpdate(
            categoryPercentages.Select(c => c.Category).ToArray(),
            GetBarChartDataset<int>(["Total", "Correct"],
                [
                    categoryPercentages.Select(c => c.Total).ToList(),
    categoryPercentages.Select(c => c.CorrectAnwsered).ToList()
                ]
            )
        );

        await barChartProcent.AddLabelsDatasetsAndUpdate(
            categoryPercentages.Select(c => c.Category).ToArray(),
            GetBarChartDataset(["% Correct"], [categoryPercentages.Select(c => c.CorrectPercentage).ToList()]));
    }

    private BarChartDataset<T>[] GetBarChartDataset<T>(List<string> labels, List<List<T>> data)
    {
        // All data needs a label...
        if (labels.Count != data.Count)
        {
            return Array.Empty<BarChartDataset<T>>();
        }

        // Free Blazorise chart has a limit of columns it can show.
        while (data.Count > 10)
        {
            data.RemoveAt(data.Count - 1);
        }

        return data.Select((dataSet, index) => new BarChartDataset<T>
            {
                Label = labels[index],
                Data = dataSet,
                BackgroundColor = new List<string> { ChartBackgroundColors[index % ChartBackgroundColors.Length] }
            }).ToArray();
    }

    private class QuizInfo(string category, bool answeredCorrect)
    {
        public string Category = category;
        public bool AnsweredCorrect = answeredCorrect;
    }
}
