@page "/quiz"
@rendermode InteractiveServer
@using API.Models
@using Microsoft.AspNetCore.Components.Forms
@using Frontend.Components
@using System.Net
@using System.Linq
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage


<h3>Quiz</h3>


<div>
    <label for="quizTitle">Titel:</label>
    <input type="text" id="quizTitle" @bind="newQuizDto.Title" placeholder="Enter Quiz Title" class="form-control" />
</div>

<div>
    <label for="mainCategory">Main Category:</label>
    <button class="btn btn-primary dropdown-toggle" @onclick="ToggleMainCategoryDropdown">
        @(newQuizDto.CategoryID == 0 ? "Select Main Category" : categories.FirstOrDefault(c => c.ID == newQuizDto.CategoryID)?.Category ?? "Select Main Category")
    </button>
    <div class="dropdown-menu @(mainCategoryDropdownVisible ? "show" : "")">
        @foreach (var category in categories)
        {
            <a class="dropdown-item" @onclick="() => SelectMainCategory(category)">@category.Category</a>
        }
    </div>
</div>


<div>
    <label for="mainDifficulty">Main Difficulty:</label>
    <button class="btn btn-primary dropdown-toggle" @onclick="ToggleMainDifficultyDropdown">
        @(newQuizDto.DifficultyID == 0 ? "Select Main Difficulty" : difficulties.FirstOrDefault(c => c.ID == newQuizDto.DifficultyID)?.Difficulty ?? "Select Main Difficulty")
    </button>
    <div class="dropdown-menu @(mainDifficultyDropdownVisible ? "show" : "")">
        @foreach (var difficulty in difficulties)
        {
            <a class="dropdown-item" @onclick="() => SelectMainDifficulty(difficulty)">@difficulty.Difficulty</a>
        }
    </div>
</div>

<div>
    @foreach (var question in CategoriesHandler)
    {
        @* simple drop down menu, very important *@
        <div class="drop-menu">
            <table>
                <tr>
                    <td>
                        <div class="dropdown-categories">
                            <button class="btn btn-primary dropdown-toggle" @onclick="() => ToggleDropdownCategory (question)">
                                @(question.selectedCategory == null ? "Vælg Kategori" : question.selectedCategory.Category)
                            </button>
                            <div class="dropdown-menu @question.dropdownCategory">
                                @foreach (Categories category in categories)
                                {
                                    <a class="dropdown-item" @onclick="() => SelectCategory(category, question)">@category.Category</a>
                                }
                            </div>
                        </div>
                    </td>
                    <td>

                        <div class="dropdown-underCategories">
                            <button class="btn btn-primary dropdown-toggle" @onclick="() => ToggleDropdownUnderCategory (question)">
                                @(question.selectedUnderCategory == null ? "Vælg Underkategori" : question.selectedUnderCategory.UnderCategory)
                            </button>
                            <div class="dropdown-menu @question.dropdownUnderCategory">
                                @foreach (UnderCategories underCategory in underCategories)
                                {
                                    <a class="dropdown-item" @onclick="() => SelectUnderCategory(underCategory, question)">@underCategory.UnderCategory</a>
                                }
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="dropdown-difficulties">
                            <button class="btn btn-primary dropdown-toggle" @onclick="() => ToggleDropdownDifficulties (question)">
                                @(question.selectedDifficulty == null ? "Vælg Niveau" : question.selectedDifficulty.Difficulty)
                            </button>
                            <div class="dropdown-menu @question.dropdownDifficulty">
                                @foreach (Difficulties difficulty in difficulties)
                                {
                                    <a class="dropdown-item" @onclick="() => SelectDifficulties(difficulty, question)">@difficulty.Difficulty</a>
                                }
                            </div>
                        </div>
                    </td>
                    <td>
                        <label for="questionCount">Enter Amount</label>
                        <input type="number" @bind="question.DesiredQuestionCount" min="1" max="25" />
                    </td>
                    <td>
                        <button class="btn btn-danger" @onclick="() => DeleteQuestionSet(question)">Slet Spørgsmål</button>
                    </td>
                    <td>
                        <button class="btn btn-success" @onclick="() => FetchQuestions(question)">Hent spørgsmål</button>
                    </td>
                </tr>
            </table>
        </div>
        @* end of dropdown menu  *@
    }
</div>



<button class="btn btn-primary" @onclick="AddNewCategory" disabled="@(CategoriesHandler.Count >= MaxQuestions)">Tilføj flere spørgsmål</button>
<p>@SaveQuizMessage</p>

@* button for making the random quiz *@
<button class="btn btn-success" @onclick="RandomQuizMaking">Lav tilfældig quiz</button>


@* this is where the list is being displayed/made *@
@if (Questions != null && Questions.Count > 0)
{
    Console.WriteLine($"Questions Count: {Questions.Count}");

    <h4>Spørgsmål:</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Question</th>
                <th>Category</th>
                <th>UnderCategory</th>
                <th>Difficulty</th>
                <th>Mulige svar</th>
                <th>Rigtige svar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var question in Questions)
            {
                <tr>
                    <td>@(!string.IsNullOrEmpty(question.Title) ? question.Title : "No Title")</td>
                    <td>@question.Category</td>
                    <td>@question.UnderCategory</td>
                    <td>@question.Difficulty</td>
                    <td>@string.Join(", ", question.PossibleAnswers)</td>
                    <td>@string.Join(", ", question.CorrectAnswer)</td>
                </tr>
            }
        </tbody>

    </table>
}
else
{
    <p>No questions found</p>
}

@code
{

    private class CategoryHandlingQuiz
    {
        public string Title { get; set; } = "Random Quiz";
        public CategoriesDTO Categories { get; set; }
        public UnderCategoriesGetDTO UnderCategories { get; set; }
        public Difficulties Difficulties { get; set; }
        public string[] PossibleAnswers { get; set; }
        public int[] CorrectAnswer { get; set; }
        public int DesiredQuestionCount { get; set; }

        //public category dropdown
        public Categories? selectedCategory;
        public string dropdownCategory = "";

        //Public undercategory dropdown
        public UnderCategories? selectedUnderCategory;
        public string dropdownUnderCategory = "";

        //Public difficulty dropdown
        public Difficulties? selectedDifficulty;
        public string dropdownDifficulty = "";
    }

    public class Question
    {
        public string Title { get; set; }
        public string Category { get; set; }
        public string UnderCategory { get; set; }
        public string Difficulty { get; set; }
        public string[] PossibleAnswers { get; set; }
        public int[] CorrectAnswer { get; set; }
    }

    [Inject] public HttpClient? Http { get; set; }
    private List<Difficulties> difficulties = new();
    private List<Categories> categories = new();
    private List<UnderCategories> underCategories = new();
    private List<CategoryHandlingQuiz> CategoriesHandler = new();
    private QuizCreateRandomDTO newQuizDto = new();
    private List<Question> Questions { get; set; } = new();
    private List<API.Models.User> user = new();
    private string SaveQuizMessage = string.Empty;
    private const int MaxQuestions = 25;




    private bool mainCategoryDropdownVisible = false;
    private void ToggleMainCategoryDropdown()
    {
        mainCategoryDropdownVisible = !mainCategoryDropdownVisible;
    }

    private void SelectMainCategory(Categories Category)
    {
        newQuizDto.CategoryID = Category.ID;
        mainCategoryDropdownVisible = false;
    }



    private bool mainDifficultyDropdownVisible = false;
    private void ToggleMainDifficultyDropdown()
    {
        mainDifficultyDropdownVisible = !mainDifficultyDropdownVisible;
    }

    private void SelectMainDifficulty(Difficulties Difficulty)
    {
        newQuizDto.DifficultyID = Difficulty.ID;
        mainCategoryDropdownVisible = false;
    }


    private async Task FetchQuestions(CategoryHandlingQuiz questionHandling)
    {
        if (Http == null || questionHandling.selectedCategory == null || questionHandling.selectedUnderCategory == null || questionHandling.selectedDifficulty == null) return;

        int categoryID = questionHandling.selectedCategory.ID;
        int underCategoryID = questionHandling.selectedUnderCategory.ID;
        int difficultyID = questionHandling.selectedDifficulty.ID;

        string url = $"/api/Questions";
        string jwt = await sessionStorage.GetItemAsStringAsync("jwtToken");

        (HttpStatusCode statusCode, List<Question>? questions) = await HttpHandler.GetAsync<List<Question>>(url, jwt, Http);

        if (statusCode == HttpStatusCode.OK)
        {
            Questions = questions?.Where(q => q.Category == questionHandling.selectedCategory.Category &&
            q.UnderCategory == questionHandling.selectedUnderCategory.UnderCategory &&
            q.Difficulty == questionHandling.selectedDifficulty.Difficulty).ToList() ?? new();
        }
        else
        {
            Console.WriteLine("FUCK YOU");
        }

    }

    //method to make a random quiz by button press
    private async Task RandomQuizMaking()
    {
        if (Http == null) return;

        List<QuestionAmount> questions = new();
        for (int i = 0; i < CategoriesHandler.Count; i++)
        {
            questions.Add(new()
                {
                    Amount = CategoriesHandler[i].DesiredQuestionCount,
                    CategoryID = CategoriesHandler[i].selectedCategory?.ID ?? 0,
                    DifficultyID = CategoriesHandler[i].selectedDifficulty?.ID ?? 0,
                    UnderCategoryID = CategoriesHandler[i].selectedUnderCategory?.ID ?? 0
                });
        }

        int userID = await sessionStorage.GetItemAsync<int>("userID");
        string Jwt = await sessionStorage.GetItemAsStringAsync("jwt");

        QuizCreateRandomDTO quizDto = new()
            {
                Title = newQuizDto.Title,
                questions = questions.ToArray(),
                EducationID = 1,
                //Change to non static!!!
                CreatorID = userID,
                CategoryID = newQuizDto.CategoryID,
                DifficultyID = newQuizDto.DifficultyID,

            };


        // add "jwt" between quizDto and Http
        //set up url for API endpoint
        string url = "/api/Quizs/Setup-Quiz/Random";


        (HttpStatusCode statusCode, QuizDTO? response) =
           await HttpHandler.PostAsync<QuizDTO>(
               url, quizDto, Jwt, Http);

        if (statusCode == HttpStatusCode.Created)
        {
            //successfully made quiz
            Console.WriteLine("Quiz created correctly");

            //Retrive the quiz details if returned in the response
            SaveQuizMessage = "Random quiz save good";
        }
        else
        {
            //failed to make quiz
            SaveQuizMessage = "OH NO SHIT DONT WORK";
        }
    }

    //getting info from API/DB
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (Http == null) return;

        if(firstRender)
        {
            string Jwt = await sessionStorage.GetItemAsStringAsync("jwt");

            (HttpStatusCode statusCode, Difficulties? response) =
               await HttpHandler.GetAsync<Difficulties>(

                   "/api/Difficulties", Jwt, Http);

            var getDifficulties = await Http.GetFromJsonAsync<List<Difficulties>>($"/api/Difficulties");
            if (getDifficulties != null)
            {
                difficulties.AddRange(getDifficulties);
            }

            var getCategories = await Http.GetFromJsonAsync<List<Categories>>($"/api/Categories");
            if (getCategories != null)
            {
                categories.AddRange(getCategories);
            }

            var getUnderCategories = await Http.GetFromJsonAsync<List<UnderCategories>>($"/api/UnderCategories");
            if (getUnderCategories != null)
            {
                underCategories.AddRange(getUnderCategories);
            }

            AddNewCategory();
        }
        
    }

    //delete button
    private void DeleteQuestionSet(CategoryHandlingQuiz categoryHandling)
    {
        CategoriesHandler.Remove(categoryHandling);
    }


    private void AddNewCategory()
    {
        CategoriesHandler.Add(new CategoryHandlingQuiz());
    }

    //simple drop down menu category
    // Toggle the visibility of the dropdown menu
    private void ToggleDropdownCategory(CategoryHandlingQuiz categoryHandling)
    {
        categoryHandling.dropdownCategory = categoryHandling.dropdownCategory == "" ? "show" : "";
        categoryHandling.dropdownUnderCategory = "";
        categoryHandling.dropdownDifficulty = "";
    }

    // Set the selected item and close the dropdown
    private void SelectCategory(Categories category, CategoryHandlingQuiz questionHandling)
    {
        questionHandling.selectedCategory = category;
        questionHandling.dropdownCategory = ""; // Hide the dropdown
    }


    //simple drop down menu for undercategory
    // Toggle the visibility of the dropdown menu
    private void ToggleDropdownUnderCategory(CategoryHandlingQuiz questionHandling)
    {
        questionHandling.dropdownUnderCategory = questionHandling.dropdownUnderCategory == "" ? "show" : "";
        questionHandling.dropdownCategory = "";
        questionHandling.dropdownDifficulty = "";
    }

    // Set the selected item and close the dropdown
    private void SelectUnderCategory(UnderCategories underCategory, CategoryHandlingQuiz underCategoryHandling)
    {
        underCategoryHandling.selectedUnderCategory = underCategory;
        underCategoryHandling.dropdownUnderCategory = ""; // Hide the dropdown
    }



    //simple drop down menu for difficulties
    // Toggle the visibility of the dropdown menu
    private void ToggleDropdownDifficulties(CategoryHandlingQuiz difficultyHandling)
    {
        difficultyHandling.dropdownDifficulty = difficultyHandling.dropdownDifficulty == "" ? "show" : "";
        difficultyHandling.dropdownCategory = "";
        difficultyHandling.dropdownUnderCategory = "";
    }

    // Set the selected item and close the dropdown
    private void SelectDifficulties(Difficulties difficulties, CategoryHandlingQuiz difficultyHandling)
    {
        difficultyHandling.selectedDifficulty = difficulties;
        difficultyHandling.dropdownDifficulty = ""; // Hide the dropdown
    }
}
